@model TreeForum.Models.Comment

@{
    ViewData["Title"] = "Create";
}


<h4>Add Comment to Discussion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="DiscussionId" value="@ViewBag.DiscussionId" />
            <div class="mb-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("GetDiscussion", "Home", new { id = ViewBag.DiscussionId })" class="text-success d-inline">Back To Discussion</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
