@using Microsoft.AspNetCore.Identity
@using TreeForum.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Discussions" asp-action="Index" style="font-weight: bold; padding: 8px 16px; border-radius: 5px; transition: background-color 0.3s;">
                            My Threads
                        </a>
                    </li>

                    <li class="nav-item">
                        <a style="font-weight: bold; padding: 8px 16px; border-radius: 5px; transition: background-color 0.3s;"
                           id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            @UserManager.GetUserName(User)
                        </a>
                    </li>

                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button style="font-weight: bold; padding: 8px 16px; border-radius: 5px; transition: background-color 0.3s;"
                                    id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                                Logout
                            </button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
}
else
{
    <li class="nav-item">
        <a  style="font-weight: bold;" class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a style="font-weight: bold;" class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
