.thumbnail {
    width: 150px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}


.profile-thumb {
    width: 55px;
    height: auto;
    border-radius: 50%;
}

.thumbnail_user {
    width: 75px;
    height: 100px;
}

.thumbnail_nav {
    width: 50px;
    height: 50px;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.nav-link:hover {
    background-color: #f8f9fa; 
    border-radius: 5px; 
}

@media (max-width: 992px) {
    .masonry-grid {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .masonry-grid {
        column-count: 1;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #f5f5f5;
}

/*discussion css
*/



.btn-success {
    background-color: #388E3C;
    border-color: #006400;
}

.btn-success:hover {
    background-color: #2C6B2F;
    border-color: #45a049;
}
.fa-pencil-alt, .fa-comment {
    color: #2C6B2F; 
}

.card-title {
    text-decoration: none;
}

.card-title:hover {
    text-decoration: underline;
}


.card_home {
    border: 1px solid #006400;
}

.card_home:hover {
    opacity: 80%;
    border: 2px solid #006400;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #e7f5e1, #9feba2);
    margin: 0;
    padding: 0;
}

.discussion-post {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.getDiscussion_post {
    background-color: #9feba2;
}

.discussion-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.discussion-date {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

    .discussion-date span {
        font-weight: bold;
    }

.discussion-content {
    font-size: 1.125rem;
    color: #444;
    margin-bottom: 20px;
}

.discussion-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .discussion-post {
        padding: 15px;
    }

    .discussion-title {
        font-size: 1.5rem;
    }

    .discussion-content {
        font-size: 1rem;
    }
}