.thumbnail {
    width: 100px;
    height: auto;
}

.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

/* Home page masonry styles
-------------------------------------------------- */
.masonry-grid {
    column-count: 3;
    column-gap: 1.5em;
}

.masonry-grid-item {
    display: inline-block;
    margin: 0 0 2em;
    width: 100%;
}

    .masonry-grid-item img:hover {
        filter: brightness(0.65);
        cursor: pointer;
    }

/* collapse grid to 2 columns */
@media (max-width: 992px) {
    .masonry-grid {
        column-count: 2;
    }
}

/* collapse grid to 1 column */
@media (max-width: 768px) {
    .masonry-grid {
        column-count: 1;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/*discussion css
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.discussion-post {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.discussion-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.discussion-date {
    font-size: 1rem;
    color: #777;
    margin-bottom: 15px;
}

    .discussion-date span {
        font-weight: bold;
    }

.discussion-content {
    font-size: 1.125rem;
    color: #444;
    margin-bottom: 20px;
}

.discussion-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .discussion-post {
        padding: 15px;
    }

    .discussion-title {
        font-size: 1.5rem;
    }

    .discussion-content {
        font-size: 1rem;
    }
}