@model TreeForum.Models.Discussion

@{
    ViewData["Title"] = "GetDiscussion";
    var imgString = "../../images/" + Model.ImageFilename;

}



<div class="discussion-post">
    <h1 class="discussion-title">@Model.Title</h1>
    <p class="discussion-date">Posted on: <span>@Model.CreateDate</span></p>
    <div class="discussion-content">
        <p>@Model.Content</p>
    </div>
    <div class="discussion-image">
        <img src=@imgString alt="Image related to discussion" />
    </div>
</div>
