@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>
    @ViewData["Title"] 
</h3>
<h4>
    <a class="text-decoration-none" href="@Url.Action("Profile", "Home", new { name = Model.Input.Name })" style="color: inherit;">
        <span class="profile-public">Visit Public Profile</span>
    </a>
</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class=" mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
            </div>

            @* <div class="form-floating mb-3"> *@
            @*     <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/> *@
            @*     <label asp-for="Input.PhoneNumber" class="form-label"></label> *@
            @*     <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span> *@
            @* </div> *@

            @* BEGIN: ApplicationUser Custom Fields *@

            @if (!string.IsNullOrEmpty(Model.Input.ImageFilename))
            {
                <div class="mb-3">
                    <img src="~/profile_img/@Model.Input.ImageFilename" class="profile-thumb" />
                </div>
            }

            <div class="mb-3">
                <label asp-for="Input.ImageFile" class="form-label"></label>
                <input type="file" asp-for="Input.ImageFile" class="form-control" />
                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Location" class="form-label"></label>
                <input asp-for="Input.Location" class="form-control" />
                <span asp-validation-for="Input.Location" class="text-danger"></span>
            </div>
            @* END: ApplicationUser Custom Fields *@

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
